flows.json
[
    {
        "id": "74730ccd2e307113",
        "type": "tab",
        "label": "RNG Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aef62b9f88116a3",
        "type": "trigger",
        "z": "74730ccd2e307113",
        "name": "",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "1829e501ae57c250"
            ]
        ]
    },
    {
        "id": "e7ad9482dfdc4215",
        "type": "inject",
        "z": "74730ccd2e307113",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "4aef62b9f88116a3"
            ]
        ]
    },
    {
        "id": "c5b3fb8422b1df28",
        "type": "inject",
        "z": "74730ccd2e307113",
        "name": "Stop",
        "props": [
            {
                "p": "reset",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "4aef62b9f88116a3"
            ]
        ]
    },
    {
        "id": "a1930cc7de0b7e37",
        "type": "ui_gauge",
        "z": "74730ccd2e307113",
        "name": "Gauge",
        "group": "f138ba3eee3ab1a0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Reading",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "1829e501ae57c250",
        "type": "random",
        "z": "74730ccd2e307113",
        "name": "RNG",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "a1930cc7de0b7e37"
            ]
        ]
    },
    {
        "id": "f138ba3eee3ab1a0",
        "type": "ui_group",
        "name": "Test",
        "tab": "a7b5acda1c0411cb",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7b5acda1c0411cb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]